:root {
  --md-primary-fg-color: #00e5c0;
  --md-primary-bg-color: #0b0f14;

  --md-accent-fg-color: #00bcd4;
  --md-accent-bg-color: #0b0f14;

  --md-default-bg-color: #0b0f14;
  --md-default-fg-color: #e6edf3;

  --md-code-bg-color: #111821;
  --md-code-fg-color: #9cdcfe;
}

/* Links */
.md-typeset a {
  color: #00e5c0;
}
.md-typeset a:hover {
  color: #66fff0;
}

/* Headings */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: #00e5c0;
}

/* Navigation */
.md-nav__link--active {
  color: #00e5c0;
  font-weight: 600;
}

/* Code blocks */
.md-typeset pre > code {
  background-color: #111821;
  border-radius: 6px;
}

/* Admonitions */
.md-typeset .admonition,
.md-typeset details {
  border-left: 4px solid #00e5c0;
}
